@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Amiko", Arial;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.skip-button {
  display: none;
  position: absolute;
  top: 4vh;
  right: 4vw;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(26, 26, 26, 0.1882352941);
  padding: 8px 12px;
  padding-right: 40px;
  border-radius: 1em;
  letter-spacing: 0.14em;
  opacity: 1;
  z-index: 100;
}
.skip-button::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  border: 8px solid transparent;
  border-left: 10px solid white; /* 好みで色を変えてください */
  z-index: 2;
}
.skip-button__text--pc {
  display: inline;
}
.skip-button__text--sp {
  display: none;
}

.opening {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.opening__background {
  width: 100%;
  height: 100%;
  background-color: #4a8a6f;
}
.opening__background-circle--xl {
  fill: #5d9178;
  r: 60;
  cx: 50;
  cy: 50;
}
.opening__background-circle--l {
  fill: #709b84;
  r: 50;
  cx: 50;
  cy: 50;
}
.opening__background-circle--m {
  fill: #7fa48d;
  r: 40;
  cx: 50;
  cy: 50;
}
.opening__background-circle--s {
  fill: #8bac97;
  r: 30;
  cx: 50;
  cy: 50;
}
.opening__warehouse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 10;
}
.opening__clothes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.opening__clothes.--collect {
  z-index: 0;
}
.opening__clothes.--create {
  z-index: 20;
}
.opening__clothes-item {
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
  width: 160px;
}
.opening__clothes-item.--long {
  width: auto;
  height: 160px;
}
.opening__clothes-item.--pet {
  width: auto;
  height: 80px;
}
.opening__clothes-item.--paper {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 25%;
  z-index: 20;
}

.conveyer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: white;
  opacity: 0;
}

.conveyer-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.conveyer-ui__logo {
  position: relative;
  width: 760px;
  height: 760px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 10;
}
.conveyer-ui__logo-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%;
}
.conveyer-ui__logo-icons-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: absolute;
}
.conveyer-ui__logo-icons-item.--wear {
  width: 90px;
}
.conveyer-ui__logo-icons-item.--collect {
  width: 180px;
}
.conveyer-ui__logo-icons-item.--recycle {
  width: 90px;
}
.conveyer-ui__logo-icons-item.--create {
  width: 90px;
}
.conveyer-ui__logo-icons-img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.64rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.conveyer-ui__logo-icons-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.4;
  letter-spacing: 0.14em;
  font-weight: 700;
  white-space: nowrap;
  overflow: visible;
  margin: 0;
}
.conveyer-ui__logo-icons-arrow {
  position: absolute;
  width: 190px;
  height: auto;
}
.conveyer-ui__logo-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.86;
  filter: blur(20px);
  z-index: -10;
}
.conveyer-ui__logo-text {
  width: 240px;
}
.conveyer-ui__frame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.conveyer-ui__frame-text {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.21em;
}

.conveyer-3d {
  transform-style: preserve-3d;
  perspective: 2000px;
  top: 0;
  perspective-origin: 100% 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}
.conveyer-3d__clothes {
  position: relative;
  transform-style: preserve-3d;
  width: 60%;
  height: 350%;
  transform: rotateX(70deg) rotateZ(20deg);
  border: 5px solid black;
}
.conveyer-3d__clothes::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 108%;
  height: 108%;
  border: 5px solid black;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4), -20px -20px 50px rgba(0, 0, 0, 0.2);
}
.conveyer-3d__clothes-item {
  position: absolute;
  transform-style: preserve-3d;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.3));
  width: 200px;
  height: auto;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.conveyer-3d__clothes-item.--long {
  width: auto;
  height: 200px;
}
.conveyer-3d__clothes-item.--pet {
  width: auto;
  height: 100px;
}

.static {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/static/wireBackground.png");
  z-index: -100;
  opacity: 0;
}
.static__message {
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 0px 64px;
  background-color: rgba(147, 147, 147, 0.5019607843);
  text-wrap: nowrap;
  display: flex;
  align-items: flex-end;
}
.static__message.--large {
  bottom: 120px;
}
.static__message.--large .static__message-text {
  padding-top: 24px;
  font-size: 100px;
}
.static__message ::after {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(100% + 20px);
  width: 22px;
  height: 100%;
  background-color: rgba(147, 147, 147, 0.5019607843);
}
.static__message-text {
  color: white;
  font-size: 65px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.14em;
  vertical-align: bottom;
  padding-top: 8px;
  margin: 0;
}

.static-cards--position {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
}
.static-cards--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  width: auto;
  height: 100%;
}
.static-cards__item {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 350px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 1em;
  transition: flex-basis 0.5s ease;
  align-self: flex-end;
}
.static-cards__item:nth-child(even) {
  align-self: flex-start;
}
.static-cards__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1em;
  background-color: transparent;
  transition: background-color 0.25s ease;
}
.static-cards__item:hover {
  cursor: pointer;
  flex-basis: 650px;
}
.static-cards__item:hover::after {
  background-color: rgba(134, 134, 134, 0.35);
  transition: background-color 0.25s ease;
}
.static-cards__item:hover .static-cards__text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s 0.25s ease, transform 0.25s 0.25s ease;
}
.static-cards__text {
  z-index: 10;
  position: absolute;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.14em;
  text-wrap: nowrap;
  color: white;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.2s ease, c transform 0s 0.2s ease;
}
.static-cards__img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.static-cards__img-container::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 28px;
  width: 100%;
  height: 100%;
  background-color: #888888;
  filter: blur(16px);
  border-radius: 1em;
}
.static-cards__img-item {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  z-index: 10;
}

@media (max-width: 900px) {
  .skip-button {
    font-size: 0.8rem;
    padding: 4px 12px;
    padding-right: 24px;
  }
  .skip-button::after {
    content: "";
    right: 4px;
    border: 5px solid transparent;
    border-left: 8px solid white; /* 好みで色を変えてください */
  }
  .skip-button__text.--pc {
    display: none;
  }
  .skip-button__text.--sp {
    display: inline;
  }
  .opening__background {
    width: 100%;
    height: 100%;
    background-color: #4a8a6f;
  }
  .opening__background-circle--xl {
    fill: #5d9178;
    r: 60;
    cx: 50;
    cy: 50;
  }
  .opening__background-circle--l {
    fill: #709b84;
    r: 50;
    cx: 50;
    cy: 50;
  }
  .opening__background-circle--m {
    fill: #7fa48d;
    r: 40;
    cx: 50;
    cy: 50;
  }
  .opening__background-circle--s {
    fill: #8bac97;
    r: 30;
    cx: 50;
    cy: 50;
  }
  .opening__warehouse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    z-index: 10;
  }
  .opening__clothes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .opening__clothes.--collect {
    z-index: 0;
  }
  .opening__clothes.--create {
    z-index: 20;
  }
  .opening__clothes-item {
    width: 60px;
  }
  .opening__clothes-item.--long {
    width: auto;
    height: 60px;
  }
  .opening__clothes-item.--pet {
    width: auto;
    height: 30px;
  }
  .opening__clothes-item.--paper {
    width: 4px;
    height: 4px;
  }
  .conveyer-ui__logo {
    height: 280px;
    width: 280px;
  }
  .conveyer-ui__logo-icons-item.--wear {
    width: 35px;
  }
  .conveyer-ui__logo-icons-item.--collect {
    width: 70px;
  }
  .conveyer-ui__logo-icons-item.--recycle {
    width: 35px;
  }
  .conveyer-ui__logo-icons-item.--create {
    width: 35px;
  }
  .conveyer-ui__logo-icons-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.32rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .conveyer-ui__logo-icons-text {
    font-size: 0.8em;
  }
  .conveyer-ui__logo-icons-arrow {
    width: 60px;
  }
  .conveyer-ui__logo-background {
    filter: blur(10px);
  }
  .conveyer-ui__logo-text {
    width: 90px;
  }
  .conveyer-ui__frame-text {
    font-size: 1.8rem;
    letter-spacing: 0.42em;
  }
  .conveyer-ui__frame-text.--second {
    letter-spacing: 0;
  }
  .conveyer-ui #script-frameLeft,
.conveyer-ui #script-frameRight {
    stroke-width: 1.8;
  }
  .conveyer-3d {
    perspective: 1000px;
  }
  .conveyer-3d__clothes {
    width: 100%;
    border: 3px solid black;
  }
  .conveyer-3d__clothes::after {
    width: 104%;
    height: 104%;
    border: 3px solid black;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.4), -8px -8px 24px rgba(0, 0, 0, 0.2);
  }
  .conveyer-3d__clothes-item {
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.3));
    width: 80px;
    max-height: 80px;
  }
  .conveyer-3d__clothes-item.--long {
    width: auto;
    height: 80px;
  }
  .conveyer-3d__clothes-item.--pet {
    width: auto;
    height: 40px;
  }
  .static__message {
    bottom: 16px;
    padding: 0px 18px;
    line-height: 1.6;
  }
  .static__message.--large {
    bottom: 52px;
  }
  .static__message.--large .static__message-text {
    font-size: 32px;
    padding-top: 8px;
  }
  .static__message ::after {
    left: calc(100% + 8px);
    width: 16px;
  }
  .static__message-text {
    font-size: 20px;
    padding-top: 4px;
  }
  .static-cards--position {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 80%;
  }
  .static-cards--container {
    position: relative;
    display: block;
    gap: 30px;
    width: auto;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 600px;
    perspective-origin: 50% 0;
  }
  .static-cards__item {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 440px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    transition: background-color 0.25s ease;
  }
  .static-cards__item:hover::after {
    background-color: transparent;
    transition: none;
  }
  .static-cards__item:hover .static-cards__text {
    opacity: 0;
    transform: translateY(-15px);
    transition: none;
  }
  .static-cards__item.--choose::after {
    background-color: rgba(134, 134, 134, 0.35);
    transition: background-color 0.5s ease;
  }
  .static-cards__item.--choose .static-cards__text {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.25s 0.25s ease, transform 0.25s 0.25s ease;
  }
  .static-cards__text {
    font-size: 24px;
    transform: translateY(-15px);
  }
  .static-cards__img-container::before {
    left: -14px;
    top: 14px;
    filter: blur(8px);
  }
  @-webkit-keyframes rotationCards {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  @keyframes rotationCards {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}